.fullscreen--close-vertical {
  position: absolute;
  top: 0px;
  right: 0px;
}
.fullscreen--close-horizontal {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.page {
  font-family: var(--font-geist-mono);
}
.BigTextConfig {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.BigTextConfig--ButtonPanel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: stretch;
  grid-template-areas:
    "qr . bigtext"
    ". . ."
    ". delete .";
}
.hidden {
  display: none;
}
.BigTextConfig--qr {
  grid-area: qr;
}
.BigTextConfig--bigtext {
  grid-area: bigtext;
}
.BigTextConfig--delete {
  grid-area: delete;
}
